body{
    background-color:rgb(242, 242, 242);
}
h1{
    text-align: center;
    font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding-bottom:20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
h1:after, h1:before{
    content: '';
    width: 150px;
    height: 2px;
    background: black;
    margin: 0 10px;
}
h3{
    font-size: 15px;
    font-weight: bold;
}
.text{
    background-color: white;
    margin: 15px auto;
    width: 50%;

    padding: 10px;  
    box-shadow: 6px 20px 20px grey;
    font-family: 'Times New Roman', Times, serif;
    line-height: 12px;
}
